h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
}

img {
    display: block;
}

button {
    cursor: pointer;
}



a {
    text-decoration: none;
}

body {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    list-style: none;
    color: #434455;
    background-color: #FFFFFF;
}

address {
    font-size: normal;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* header */
.header {
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #e7e9fc;
}

.header-div-class {

display: flex;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav-class {
    display: flex;
    align-items: center
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.header-list-navigation {
    display: flex;
    gap: 40px;
}


.web {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}







.header-adress {
    font-style: normal;
}

.header-link {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
}

.header-link:hover {
    color: #404bbf;
}

.header-link:focus {
    color: #404bbf;
}

.header-link:active {
    color: inherit;
}

.header-list-contacts {
    display: flex;
    gap: 40px
}

.header-item-contacts {}

.header-link-contacts {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-link-contacts:hover,
.header-link-contacts:focus {
    color: #404bbf;
}

/* -- */

/* Effective Solutions for Your Business */
.hero-image {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-image-titel {

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffff;
    max-width: 496px;
}

.hero-image-btn {
   
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background: #4d5ae5;
    cursor: pointer;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;

}

.hero-image-btn:hover,
.hero-image-btn:focus {
    background-color: #404BBF
}



/* -- */

/* Section 1 */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.section-first {
    padding: 120px 0;
}

.section-first-list {
    display: flex;
    gap: 24px;
}

.section-item-item {
width: calc((100% - 72px) / 4);
}

.section-subtitel-subtitel {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.section-text-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* -- */

/* Section 2 */
.section-our-team {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.section-team-titel {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-team-list {
    display: flex;
    gap: 24px;
}

.section-team-item {
    background: #fff;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.section-team-subtitel {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
}

.section-team-text {


    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.section-2-img {}

.container-item-team{
    padding: 32px 0;
}

/* -- */



/* Section 3 */
.section-portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-portfolio-title {

    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.section-portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.section-third-item {
    width: calc((100% - 48px) / 3);
}

.container-portfolio-item{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
   
}

.section-portfolio-subtitel {

    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 8px;
}




.footer {
    padding: 100px 0;
}

.container {}

.footer-link {
    display: inline-block;
    margin-bottom: 16px;
}

.web-footer {}

.footer-text {}